*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryFont: "Hind Madurai", sans-serif;
    --secondaryFont: "Inter", sans-serif; 
    --headerColor: rgba(17, 17, 17, 1);
    --pColor: rgba(92, 92, 92, 1);
    --bodyColor: #f5fff6;
}
/* Start navbar */
